*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/ProyectoCoder/images/fondo2-01.png);
    background-size: contain;
    margin-top: 40px;
}


.content .textBox{
    position: relative;
    max-width: 35rem;
}

.content h1{
    color: #333;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 3rem;
}

.content h1 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: #333;
    font-size: 1.3rem;
    font-weight: 300;
}

.content .textBox a{
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 4rem;
    background: #017143;
    color: #fff;
    border-radius: 4px;
    margin-top: 2rem;
    font-weight: 600;

}

.content .imgBox{
    display: flex;
    justify-content: flex-end;
    transform: rotate(12deg);
    z-index: 9;
}

.content .imgBox img{
    max-width: 38rem;
    height: 40rem;
}

.thumb{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 .5rem;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}


.thumb li img{
    width: 6rem;
    z-index: 9;
}


.sci{
    position: fixed;
    display: flex;
    top: 46%;
    left: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.sci li{
    list-style: none;
    z-index: 10;
}

.sci li a{
    display: inline-block;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #017143;
    transition: all ease-in .2s;
}

.sci li a:hover{
    color: #333;
}


.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-color: #017143;
    clip-path: circle(750px at right 999px);
}
/*

.circle3{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-color: #FF822E;
    clip-path: circle(250px at right 390px);
}

*/
/*INFO SECTION*/

.info{
    max-width: 100%;
    margin-top: 12.4rem;
    height: 8rem;
}

.info .container-fluid{
    height: 10rem;
    max-width: 2000px;
}

.info .container-fluid .card{
    border: none;
    box-shadow: 0 5px 5px 2px rgba(144, 149, 161, 0.3);
    margin: 0 .3rem;
    padding: 1rem;
    border-left: 5px solid #017143;
    cursor: pointer;
}

.info .container-fluid .card h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.info .container-fluid .card p{
    font-size: 1.1rem;
    font-weight: 300;
    color: #333;
    padding-top: .5rem;
}


/*PRODUCTS SECTION*/

.products-area{
    margin-top: 15rem;
}

.products .card{
    margin: 1.5rem;
    border: none;
    cursor: pointer;
}

.products .card h4{
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 1rem;
}

.products .card .price{
    font-weight: 700;
    margin-bottom: 1rem;
}


.products .card button{
    text-decoration: none;
    border: 2px solid #017143;
    color: #017143;
    background-color: transparent;
    padding: .3rem 1rem;
    border-radius: .2rem;
    font-weight: 600;
    transition: all ease-in-out .2s;
}

.products .card button:hover{
    color: #fff;
    background-color: #017143;
}

.products .card button >i{
    padding-right: .5rem;
}

/*CART SECTION*/

.cart .btn-cart{
    position: fixed;
    top: 40%;
    left: 1%;
    margin: 0 0 2rem .8rem;
}

.cart .btn-cart > i{
    color: #017143;
    font-size: 2rem;
    transition: 0.5s;
}

.cart .btn-cart > i:hover{
    transform: translateY(-15px);
}


/*CANVAS*/

.offcanvas-end{
    width: 38rem;
}

.offcanvas-end h5{
    font-weight: 700;
    padding-left: 8rem;
}

.offcanvas-end .btn-close{
    outline: none;
  box-shadow: none;
}

.table .name-product{
    width: 10rem;
}

#items .btn-danger{
    border: none;
    width: 1.8rem;
    font-weight: 800;
    background-color: #F20F38;
}

#items .btn-danger:focus{
    outline: none;
  box-shadow: none;
}

#items .btn-info:focus{
    outline: none;
  box-shadow: none;
}

#items .btn-info{
    background-color: #017143 !important;
    border: none;
    width: 1.8rem;
    color: #fff;
    font-weight: 800;
}

tbody, td, tfoot, th, thead, tr{
    text-align: center;
}

.table th{
    font-weight: 700;
}

#footer{
    height: 6rem;
}

#footer th{
    font-weight: 700;
    font-size: 1.2rem;
}

#footer #vaciar-carrito{
    background-color: #F20F38;
    border: none;
    padding: .4rem .8rem;
}

#footer #vaciar-carrito:focus{
    outline: none;
  box-shadow: none;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #017142bd;
}

.form-control{
    border: 1px solid rgb(218, 218, 218);
    background-color: transparent;
    transition: all ease-in-out .3s;
}


/*FILTER BUTTONS*/

#cards .product-item{
    transition: all .1005s;
}

.category-list a{
    text-decoration: none;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.category-list a:hover{
    color: #f56613;
    transition: all .2s;
}

.dropdown-toggle::after{
    vertical-align: .100em;
}

.dropdown-menu{
    box-shadow: 0 5px 5px 2px rgba(144, 149, 161, 0.3);
    border: none;
}

.dropdown-menu li{
    padding: 1rem 0;
    text-align: center;
}


.category-list .category-item-active{
    color: #f56613;
}

/*BRAND*/

.navbar-brand > i{
    color: #017143;
    font-size: 3rem;
    transition: all ease-in-out .6s;
}

.navbar-brand > i:hover{
    color: #8F3D03;
    transform: rotate(360deg);
}
/*FIN BRAND*/

/*NAV*/

.navbar{
    box-shadow: 0 5px 5px 2px rgba(144, 149, 161, 0.116);
}

.navbar-nav .nav-item .nav-link{
    color: #333;
    font-weight: 600;
    padding: 1rem;
    transition: all ease-in-out .2s;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #036635;
}

.navbar-nav .nav-item .nav-link.active{
    color: #017143;
}

/*FIN NAV*/

/*BANNER*/

.banner{
    background-color: #036635;
    position: relative;
    top: 205px;
    color: #fff;
    padding: 3rem 0;
}


.banner h2{
    font-weight: 800;
    font-size: 3rem;
    padding: 1rem 0 2rem 0;
}

.banner .card-info > i{
    color: #f56613;
    font-weight: 900;
    font-size: 3rem;
}

.banner .card-info h3{
    padding: 1rem 0;
    font-weight: 600;
}

.banner .card-info p{
    font-weight: 200;
}


/*FOOTER*/

footer{
    height: 20rem;
    background-color: #017143;
    margin-top: 5rem;
}

/*FIN FOOTER*/

/*#2a8a15*/

/*Button not found*/

.btn-green{
    border: 1px solid #036635;
    padding: 1rem;
    border-radius: .2rem;
    text-transform: uppercase;
}

@media (max-width:1000px) {
    .imgBox img{
        display: none;
    }
}

@media (max-width:1200px) {
    .content{
        margin-top: 6rem;
    }
    .content .imgBox{
        transform: rotate(0deg);
    }
    .content .imgBox img{
        max-width: 25rem;
        height: 30rem;
        transform: rotate(10deg);
    }
}

@media (max-width: 400px) {
    .circle{
        display: none;
    }

}