*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.content .textBox{
    position: relative;
    max-width: 35rem;
}

.content h1{
    color: #333;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 3rem;
}

.content h1 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: #333;
    font-size: 1.3rem;
    font-weight: 300;
}

.content .textBox a{
    text-decoration: none;
    display: inline-block;
    padding: 1rem 3rem;
    background: #017143;
    color: #fff;
    border-radius: 4px;
    margin-top: 2rem;
    font-weight: 500;

}

.content .imgBox{
    display: flex;
    justify-content: flex-end;
    transform: rotate(12deg);
    z-index: 9;
}

.content .imgBox img{
    max-width: 38rem;
    height: 40rem;
}

.thumb{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 .5rem;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px)
}


.thumb li img{
    width: 9rem;
    z-index: 9;
}


.sci{
    position: fixed;
    display: flex;
    top: 46%;
    left: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
    z-index: 10;
}

.sci li a{
    display: inline-block;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #017143;
    transition: all ease-in .2s;
}

.sci li a:hover{
    color: #333;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-color: #017143;
    clip-path: circle(750px at right 999px);
}


/*INFO SECTION*/

.info{
    max-width: 100%;
    margin-top: 12.4rem;
    height: 18rem;
}

.info .container-fluid{
    height: 10rem;
    max-width: 2000px;
}

.info .container-fluid .card{
    border: none;
    box-shadow: 0 5px 5px 2px rgba(144, 149, 161, 0.3);
    margin: 0 .3rem;
    padding: 1.5rem;
    border-left: 5px solid #017143;
    cursor: pointer;
}

.info .container-fluid .card h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.info .container-fluid .card p{
    font-size: 1.1rem;
    font-weight: 300;
    color: #333;
    padding-top: .5rem;
}


/*PRODUCTS SECTION*/

.products .card{
    margin: 1.5rem;
    border: none;
    width: 16rem;
    height: 25rem;
    box-shadow: 0 5px 15px 2px rgba(144, 149, 161, 0.3);
    cursor: pointer;
}


.products .card img{
    height: 14rem;
}

.products .card h4{
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 1rem;
}

.products .card .price{
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
}


.products .card button{
    text-decoration: none;
    border: 2px solid #017143;
    color: #017143;
    background-color: transparent;
    padding: .3rem 1rem;
    border-radius: .2rem;
    font-weight: 600;
    transition: all ease-in-out .2s;
}

.products .card button:hover{
    color: #fff;
    background-color: #017143;
}

.products .card button >i{
    padding-right: .5rem;
}
/*MODAL SECTION*/

.modal{
    background-color: #fff;
    width: 70rem;
    height: 35rem;
    border-radius: .5rem;
    box-shadow: 0 5px 15px 2px rgba(144, 149, 161, 0.3);
    padding: 2rem;
}


/*CART SECTION*/

.cart .btn-cart{
    position: fixed;
    top: 40%;
    left: 1%;
    margin: 0 0 2rem .8rem;
}

.cart .btn-cart > i{
    color: #017143;
    font-size: 2rem;
    transition: all ease-in-out .2s;
}

.cart .btn-cart > i:hover{
    color: #017143;
    font-size: 2rem;
    transform: translateY(-5px)
}